#service{
    margin-bottom: 70px;
    background: $background;
   
border-radius: 150px 0px 150px 0px;
opacity: 0px;
.service__row{
    padding-top: 42px;
}
.service__padding{
padding-top: 133px;
}

    .service__right{
        width: 543px;
        margin-left: 103px;
        h2{
            
            font-size: 45px;
            font-weight: 600;
            line-height: 54px;
            width: 437px;
            color: $black;
            
            
        }
        p{
           @include paragraph; 
           margin-top: 30px;
           margin-bottom: 30px;
           width: 543px;
        }
    }
    a{
        @include btn;
        color: $primary;
background: $exbtn;
    }
    .service__item{
        width: 312px;
        height: 322px;
        border-radius: 5px;
        background: $white;
        box-shadow: 0px 0px 20px 2px #0000000D;
      padding: 47px 42px 60px;
      &:hover{
        background: $primary;
        color: $white;
        h5{
            color: $white;
        }
     
      }

h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: $black;
    margin-top: 14px;
    margin-bottom: 14px;
}
img{
    width: 90px;
    height: 90px;
    color: $primary;

    background:$white;
}
p{
 width: 265px;
font-size: 16px;
font-weight: 400;
line-height: 24px;


}
    }
    .service__bottom{
        margin-bottom: 133px;
    }
}